{% extends "main.html" %} {% block content %}

<!-- Tampilkan pesan konfirmasi jika ada -->
{% if confirmation_message %}
<div class="alert alert-success" role="alert">{{ confirmation_message }}</div>

<!-- Tampilkan data form yang diisi sebagai konfirmasi -->
<div class="container mt-4">
    <p><strong>Name:</strong> {{ name }}</p>
    <p><strong>Email:</strong> {{ email }}</p>
    <p><strong>Message:</strong> {{ message }}</p>
    </div>
</div>
{% endif %}

<div class="container mt-4">
        <h2>Penerimaan Mahasiswa Baru</h2>
        <form action="/contact" method="post">
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input 
                    type="text" 
                    class="form-control" 
                    id="name" 
                    name="name" 
                    placeholder="Masukan nama anda" 
                    required
                >
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input 
                    type="email" 
                    class="form-control" 
                    id="email" 
                    name="email" 
                    placeholder="Masukan email anda" 
                    required
                >
            </div>
            <div class="mb-3">
                <label for="message" class="form-label">Tempat Lahir</label>
                <input 
                    class="form-control" 
                    id="tempat_lahir" 
                    name="tempat_lahir"
                    placeholder="Masukan tempat lahir"
                    required
                >
            </div>
            <div class="mb-3">
                <label for="message" class="form-label">Tanggal Lahir</label>
                <input 
                    type="date" 
                    class="form-control" 
                    id="tanggal_lahir" 
                    name="tanggal_lahir"
                    placeholder="Masukan Tanggal Lahir"
                    required
                >
            </div>
            <div class="mb-3">
                <label for="message" class="form-label">Asal SMA</label>
                <input 
                    class="form-control" 
                    id="asal_sma" 
                    name="asal_sma"
                    placeholder="Masukan Asal SMA"
                    required 
                >
            </div>
            <div class="mb-3">
                <label for="message" class="form-label">No HP</label>
                <input 
                    class="form-control" 
                    id="no_hp" 
                    name="no_hp"
                    placeholder="Masukan No HP"
                    required
                >
            </div>
            <div class="mb-3">
                <label for="message" class="form-label">Foto</label>
                <input 
                    type="file" 
                    class="form-control"
                    id="foto"
                    name="foto"
                    placeholder="Pilih File"
                    required
                >
            </div>
            <button type="submit" class="btn btn-primary">Kirim</button>
        </form>
    </div>
{% endblock %}